html{
    background-color: #003069;
    color: #003069;
}

body{
    position: absolute;
    margin: 5% auto auto 10%;
    margin-bottom: auto;
    width: 80%;
    height: 80%;
    background-color: white;
}

.container{
    width: 80%;
    margin: 0 10% 0 10%;
    position: relative;
    display: inline-block;
}

.game{
    text-align: center;
    width: 100%; 
    position: relative;
    margin-top: 5%;
}

#banner{
    height: 5%;
    width: 100%;
    position: relative;
    object-fit: contain;
    display : inline-block;
}

.answer:hover{
    background-color: #003069;
    color: white;
}

.answer{
    padding: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


#restart:hover{
    background-color: #003069;
    color: white;
    width: 20%;
}

#restart{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}


.display-4{
    color: #003069;
    font-size: 72px;   
    top: 20px;
    text-align: center;
    position: absolute; 
}

#logo{
    width: 100px;
    margin-right: 15px;
    top: 10%;
    position: relative;
}

#banner{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%; 
    position: relative;
}

#timer{
    margin-top: -30px;
    margin-bottom: 30px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border: 3px solid #003069;
}

#question{
    margin-bottom: 15px;
}

.red{
    color: red;
}
